* { 
	margin: 0; 
	padding: 0; 
} 
/* .sidepanel{
	background: none;
	margin-top: -50px;
	margin-left: -100px;

} */
 .boatlogo{
	width: 320px;
	height: 85px;

	background-image: url("C:/Users/agaas/Downloads/make-my-weekend-high-resolution-logo-transparent.png");
	background-size: contain;
	background-position: fixed;
	margin-left: 100px;
	background-repeat: no-repeat;
	


	

 }
.open-btn{
	background: none;
	
}
nav { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	/* position: sticky;  */
	top: 0; 
	cursor: pointer; 
	/* background-color: #091a32; */
	background-color: #000;
	/* background: none; */
	/* background-blend-mode: darken;  */
	background-size: cover; 
	background-attachment: fixed;
	background-position: fixed;
	height: 100px;

	position: fixed;  /* Fix the navbar at the top */
	top: 0;           /* Position it at the top of the page */
	width: 100%;      /* Make it span the entire width */
	z-index: 1000;    /* Ensure it appears above other elements */
	
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

} 
.hrr{
	width: 70px;
	/* border: 1px solid red; */
	size: 20px;
	/* position: absolute; */
}


.footer { 
background-color: rgb(36, 36, 36); 
    height: 250px;
	 text-align: center;
} 

.nav-list { 
	width: 70%; 
	display: flex; 
	align-items: center; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
} 




.nav-list li { 
	list-style: none; 
	padding: 26px 30px; 
} 

.nav-list li a { 
	text-decoration: none; 
	color:white;
	
} 

.nav-list li a:hover { 
	/* color:rgb(180, 174, 174); */
	color: rgb(34, 34, 106);
	 text-decoration:underline; 
} 
.nav-list li :hover{
	color: beige;
}



.rightnav { 
	/* width: 30%;  */
	text-align: right; 
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	border: 0;
	margin-right: 20px;
	
}
.lbutton{
	padding: 5px;
	margin-top: -10px;

} 
.sbutton{
	margin-left: 15px;
}

.btn { 
margin-left: 20px; 
height: 33px; 
width: 90px; 
	color: blue; 
	font-weight: bold;


background-color: #fff;
	cursor: pointer; 
} 
.btn :hover{
	color: gray;
}

.bttm{ 
margin-left: 20px; 
height: 33px; 
width: 90px; 
	
	color: blue;
	background: white;
	font-weight: bold;
	cursor: pointer; 
	
} 

.btn-sm { 
	padding: 6px 10px; 
	vertical-align: middle; 
} 


	
.text-footer { 
	text-align: center; 
	padding: 30px ; 
	font-family: 'Ubuntu', sans-serif; 
	display: flex; 
	justify-content: center; 
	color: #fff; 
}

h1{
	color: white;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
	color:white;
	pointer-events: none;
}



h3{
	color: white;
	text-align: center;
	margin-top: 15px;
	pointer-events: none;
}
ul{
	margin-top: 15px;
	text-align: left;
	color: white;
    font-size:large;
	list-style:circle;
	margin-left: 70px;

}

li{
	list-style-position:inside;
}
button:hover{
color: white;


}




img{
	padding: 2px;
}
h4{
	color: orangered;
}
h1{
	color: white;
}

main{
	background-color:black;
}

video{
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.video-content{
	position:absolute;
	/* width: 100%; */
	margin-top: 100px;
	height: 100px;
	/* top :0; */
	/* bottom: 1000; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 900;
	font-size: 100px;
	margin-left: 350px;
	 margin-top: -380px; 
	font-family: sans-serif ;

}
.overlay{
	position:absolute;
	
	/* top:0; */
	left: 0;
	width: 100%;

	

}
.hrule{
	border: 1px solid white;
}

@media(min-aspect-ratio:16/9){
	.back-video{
		width:100%;
		height: auto;
	}
}
@media(max-aspect-ratio:16/9){
	.back-video{
		width:auto;
		height: 100%;
	}
}
.mc1{
	height: 350px;
	width: 750px;
	background-color: white;
	display: flex;
	margin: auto;
	border: 1px solid white;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: start;
	opacity: 0.8;
}
.bname{
	color: black;
	
	margin-top:5px;
	margin-left: 15px;
font-size: xx-large;

	text-align: center;
	margin-top: 10px;
}
.ldiv{
	/* margin-left:2px; */

	/* background-color: antiquewhite; */
	
	display: flex;
	align-items: start;
	text-align: start;
	/* background-color: rgba(0,0,0,0.3); */
	display: flex;
	justify-content: center;
	margin-left: 20px;
	color: black;
	
	

}
.img1{
	background-color: white;
	margin-left: 480px;
	margin-top: -200px;
	height: 250px;
	width: 250px;
	background-size: cover;
	object-fit: contain;
}
.listContent{
	font-size: 20px;
	color: black;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	list-style-type:none;
	font-weight:500;
	line-height: 1.6;
	
	
}

.BookButton{
	margin-top: 10px;
	display: flex;
	margin-left: 300px;
	margin-bottom: 5px;
	background-color: #091a32;
	height: 40px;
	width: 140px;
	font-size: 20px;
	color: white;
    cursor: pointer;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-family: 'Times New Roman', Times, serif;

}

.passwordshow{
	display: flex;
	
}

/*sidepanel*/
/* Side Panel Styling */
.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-panel.open {
    width: 250px;
	border: 2px solid white;
}

.side-panel ul {
    list-style-type: none;
    padding: 0;
}

.side-panel ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-panel ul li:hover {
    color: #f1f1f1;
}

.close-panel-btn {
    position: absolute;
    /* top: 20px; */
    right: 25px;
    font-size: 36px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.open-panel-btn {
    font-size: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    position: absolute;
	margin-bottom: 60px;
    /* top: 15px; */
    left: 15px;
}

.open-panel-btn:hover {
    color: #ddd;
}


.body.panel-open .main-content {
    margin-left: 250px; /* Adjust this value based on the width of your side panel */
}

.main-content {
    transition: margin-left 0.3s; /* Smooth transition when the side panel opens/closes */
}


/* Sidebar Styling */
.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    /* background-color: #333; */
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.side-panel.open {
    width: 300px;
	margin-top: 100px; 
	border-left: 0;
	/* Increased width for better UI */
}

.side-panel-header {
    padding: 20px;
    border-bottom: 1px solid white;
   
}

.side-panel-content {
    padding: 20px;
    flex-grow: 1;
}

.search-bar {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h3 {
    margin-bottom: 10px;
	color: #fff;
}

.filter-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color:white;
    color:black;
    font-size: 14px;
}

.side-panel-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.side-panel-content label{
	color: white;
}

.side-panel-content ul li {
    padding: 15px 0;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
	color: white;
    /* border-bottom: 1px solid #444; */
}

.side-panel-content ul li:hover {
    color: #575757;
}

.open-panel-btn {
    font-size: 15px;
	margin-bottom: 80px;
    cursor: pointer;
    background: none;
    border: none;
    color:white;
    position: absolute;

    left: 25px;
    z-index: 1100;
	margin-bottom: 45px;
}
/* 
.open-panel-btn:hover {
    color: gray;
} */

/* Adjust main content when panel is open */
.body.panel-open .main-content {
    margin-left: 300px; /* Adjust this value based on the width of your side panel */
}

.main-content {
    transition: margin-left 0.3s; /* Smooth transition when the side panel opens/closes */
}



