/* body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
} */

.App {
    text-align: center;
}

.pay-now-btn {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pay-now-btn:hover {
    background-color: #218838;
}

.success-checkmark {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    stroke-width: 2;
    stroke: #4CAF50;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4CAF50;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.check-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4CAF50;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4CAF50;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
    position: relative;
    margin: 0 auto;
}

.icon-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.2s ease-in-out 0.6s forwards;
}

.icon-line.line-long {
    top: 33px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.2s ease-in-out 0.6s forwards;
}

.icon-circle {
    top: -4px;
    left: -4px;
    width: 72px;
    height: 72px;
    position: absolute;
    border-radius: 50%;
    border: 4px solid rgba(76, 175, 80, 0.5);
}

.icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    position: absolute;
    z-index: 1;
    height: 85px;
    background-color: #f4f4f4;
    transform: rotate(-45deg);
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 14px;
        top: 46px;
    }
    54% {
        width: 0;
        left: 14px;
        top: 46px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 60px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 46px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 8px;
        top: 33px;
    }
    65% {
        width: 0;
        right: 8px;
        top: 33px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 33px;
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4CAF50;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
